<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.communication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Communication">
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".DataBaseDashboard"></activity>
        <activity android:name=".AddStudent"></activity>
        <activity android:name=".AddTeacher"></activity>
        <activity android:name=".AddSubject"></activity>
        <activity android:name=".AddRegister"></activity>
        <activity android:name=".Login"></activity>
        <activity android:name=".Teacher.Teacher"
            android:theme="@style/Theme.Design.NoActionBar"></activity>
        <activity android:name=".Student.Student"
            android:theme="@style/Theme.Design.NoActionBar"></activity>
        <activity android:name=".ForgetPassword"></activity>
        <activity android:name=".Start"></activity>

    </application>

</manifest>